@font-face {
    font-family: "Azonix";
    src: url('../fonts/Azonix.otf');
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Azonix', sans-serif;
    font-size: 1em;

    overflow: overlay;

    color: white;
    letter-spacing: 2px;
    line-height: 1.6;
}
.container {
    width: 100%;
    background-image: url('../images/background-images/Polygon Luminary1.svg');
    background-position-x: right;
    background-repeat: repeat-y;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-viewer {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}
.img-viewer img {
    margin: 4em;
    object-fit: cover;
}

.no-script-warning {
    z-index: 9999;
    width: 100%;
    height: fit-content;
    padding: 0.5em;

    background-color: rgb(218, 93, 93);
    border: 1px solid rgb(211, 28, 28);

    font-family: 'sans-serif';
    font-size: 1.5em;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}


.header {
    z-index: 999;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 1em;
    width: 45em;
    position: fixed;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
}
.header > .nav {
    margin: 1em;
}
.header > .nav > ul {
    align-items: center;
}
.header > .nav > ul > li {
    margin: 0 1em;
    list-style: none;
}
.header > .nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
.header > .nav > ul > li > a:visited {
    color: white;
}


.small-about-me {
    height: 100vh;
}
.small-about-me > div {
    width: fit-content;
    left: 15%;
}
.small-about-me > div > .image > img {
    width: 10em;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.small-about-me > div > .small-about-me-text {
    margin-top: 1em;
    width: 40vw;
}


.about-me {
    height: 100vh;
    opacity: 1;
}
.about-me > div {
    width: 60vw;
    transform: translateX(-50%);
    left: 50%;
}


/* yes i know this is a pain to look at */
.showcase-field {
    height: 100vh;
}
.showcase-field > div {
    transform: translateX(-50%);
    left: 50%;
}
.showcase-item {
    position: relative;
    margin: 0 1em;
    height: fit-content;
}
.showcase-item > * {
    border-radius: 10px;
}
.showcase-item > .item1 {
    width: 20vw;
}
.showcase-item > .item2 {
    width: 30vw;
}
.showcase-item > .item3 {
    width: 20vw;
}
.showcase-hover {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s all ease;
}
.showcase-hover:hover {
    opacity: 1;
}
.showcase-hover > div > * {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1em;
}
.showcase-hover > div > a {
    border: 2px solid white;
    width: fit-content;
    padding: 0.4em;
    transition: 0.3s all ease;
}
.showcase-hover > div > a:hover {
    background-color: white;
    color: black;
}

.languages {
    height: 100vh;
    opacity: 1;
}
.languages > div {
    width: 40vw;
    transform: translateX(-50%);
    left: 50%;
}
.languages > div > div > ul {
    margin-left: 1em;
    overflow: hidden;
    height: 100%;
}


.rotateLeft {
    animation: rotateLeft 6s ease-in-out infinite;
}
.rotateRight {
    animation: rotateRight 6s ease-in-out infinite;
}

@keyframes rotateLeft {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes rotateRight {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}


footer {
    text-align: center;
    color: rgba(255, 255, 255, .4);
    padding: 1em;
    background-color: rgb(50, 50, 50);
    position: relative;
}

footer > div > * {
    margin: 0.5em;
}

.social-media {
    white-space: nowrap;
}

.social-media > * {
    overflow: hidden;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;

    margin: 0 0.5em;

    height: 4em;
    width: 4em;

    border-radius: 120px;

    background-color: rgb(138, 21, 138);
    color: white;
}


/*
    [@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@]
    [@]                      FOOTER OPEN ANIMATIONS                      [@]
    [@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@][@]
*/

/*
    >>>>>>> email opening
*/
#email-open-button > img {
    margin: 1em;
    width: 2em;
}

.emailWiden {
    animation: emailWiden 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.emailUnwiden {
    animation: emailUnwiden 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes emailWiden {
    0% {
        width: 4em;
    }
    100% {
        width: 19em;
    }
}
@keyframes emailUnwiden {
    0% {
        width: 19em;
    }
    100% {
        width: 4em;
    }
}


/*
    >>>>>>> discord opening
*/
#discord-open-button > img {
    margin: 1em;
    width: 2em;
}

.discordWiden {
    animation: discordWiden 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.discordUnwiden {
    animation: discordUnwiden 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes discordWiden {
    0% {
        width: 4em;
    }
    100% {
        width: 12.5em;
    }
}
@keyframes discordUnwiden {
    0% {
        width: 12.5em;
    }
    100% {
        width: 4em;
    }
}



.secret-button {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    background-color: 0;
    background: none;
	color: rgba(255, 255, 255, .1);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
