::-webkit-scrollbar {
    width: thin;
}
  
::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, .2);
}
  
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0e2a47;
}

html, body {
    scrollbar-color: rgba(255, 255, 255, .2) #0e2a47;
    scrollbar-width: thin;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-hor-center {
    display: flex;
    justify-content: center;
}

.flex-ver-center {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.glass-bg {
    padding: 1em;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(5px);
    border-radius: 10px;
}