
@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Regular.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Regular.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Thin.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Thin.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Thin.woff2") format("woff2");
    font-weight: thin;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Light.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Light.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Light.woff2") format("woff2");
    font-weight: light;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Bold.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Bold.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Bold.woff2") format("woff2");
    font-weight: bold;
}

:root {
    --hamburger-color: white;
    --hamburger-phase2-color: #1E1E1E;
}

* {
    margin: 0;
    z-index: 0;
    box-sizing: border-box;
    font-family: "Brandon Grotesque Cond";
}

html,
body {
    height: 100%;
    color: white;
    background-color: #1E1E1E;
    font-size: 18px;
    font-weight: bold;
}

header {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1em;
    background-color: #1E1E1E;
}
header::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(128,128,128);
}

/* 
    =============================
        Menu
    =============================
*/
.menuToggle {
    margin: 0.5em 0.5em 0 auto;
}

#hamburger-menu {
    display: none;
}

#menu-button {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    z-index: 4;
    cursor: pointer;
    transform: translate(-100%, 20%);
}

#hamburger-menu + label#menu-visual {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 1.5em;
    z-index: 3;
    background-color: var(--hamburger-color);
    border-radius: 0.2em;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
#hamburger-menu + label#menu-visual::before,
#hamburger-menu + label#menu-visual::after {
    content: "";
    height: 2px;
    width: 1.5em;
    z-index: 3;
    background-color: var(--hamburger-color);
    position: absolute;
    display: block;
    border-radius: 0.2em;
    transition: all 0.2s ease-in-out;
}
#hamburger-menu + label#menu-visual::before {
    top: -450%;
    left: 0;
    transform-origin: left top;
}
#hamburger-menu + label#menu-visual::after {
    top: 450%;
    left: 0;
    transform-origin: left bottom;
}

#hamburger-menu:checked + label#menu-visual {
    background-color: rgba(255, 255, 255, 0);
}
#hamburger-menu:checked + label#menu-visual::before {
    background-color: var(--hamburger-phase2-color);
    transform: rotateZ(45deg);
    left: 5px;
}
#hamburger-menu:checked + label#menu-visual::after {
    background-color: var(--hamburger-phase2-color);
    transform: rotateZ(-45deg);
    left: 5px;
}

#hamburger-menu ~ .balls {
    position: absolute;
    transform: translateY(-75%);
}
.balls > * {
    position: fixed;
    top: 10vh;
    right: 0;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
    transition: all 0.2s ease-in-out;
}
.balls > .ball1 {
    position: fixed;
    top: 10vh;
    right: 0;
    background-color: rgb(205,148,207);
    border-radius: 50%;
    z-index: 5;
}
.balls > .ball2 {
    background-color: rgb(199,84,203);
    border-radius: 50%;
    z-index: 6;
}
.balls > .ball3 {
    background-color: rgb(193, 21, 199);
    border-radius: 50%;
    z-index: 7;
}

#hamburger-menu:checked ~ .balls > .ball1 {
    width: 200vw;
    height: 200vh;
}

.menuToggle nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    z-index: 2;
    
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}

/* 
    the "+" thing in css goes through the html like a folder
    since my html is 
        #hamburger-menu 
        +
        label 
        +
        nav
    to avoid using "+" too much i can use "~" to quicly get the next nav
*/
#hamburger-menu:checked ~ nav {
    
}

.menuToggle nav ul {
    list-style: none;
}
.menuToggle nav ul * {
    padding: 0.5em 1em;
}
.menuToggle nav ul li a {
    color: white;
}


.content {
    height: 100%;
    padding: 1em;
    flex-direction: column;
}

.small-about-me {
    padding: 2em;
}

.my-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.my-photo img {
    width: 75%;
    height: auto;
    border-radius: 24px;
    display: block;
}
