
@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Regular.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Regular.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Thin.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Thin.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Thin.woff2") format("woff2");
    font-weight: thin;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Light.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Light.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Light.woff2") format("woff2");
    font-weight: light;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Bold.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Bold.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Bold.woff2") format("woff2");
    font-weight: bold;
}

:root {
    --hamburger-color: white;
    /* --hamburger-phase2-color: #1E1E1E; */
    --hamburger-phase2-color: white;
}

* {
    margin: 0;
    z-index: 0;
    box-sizing: border-box;
    font-family: "Brandon Grotesque Cond";
}

html,
body {
    height: 100%;
    color: white;
    background-color: #1E1E1E;
    font-size: 18px;
    font-weight: bold;
}

header {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1em;
}

.user-logo {
    text-transform: uppercase;
    font-size: 1.5em;

    /* 3d text effect */
    text-shadow: 
    /* 3d effect part. add more and increment second property for longer 3d effect */
        1px 1px 1px #919191,
        2px 2px 1px #919191,
        3px 3px 1px #919191,
        4px 4px 1px #919191,
        5px 5px 1px #919191;
    
    
}

/* 
    =============================
        Menu
    =============================
*/
.menuToggle {
    margin: 0 0.5em 0 auto;
}

#hamburger-menu {
    display: none;
}

#menu-button {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    z-index: 4;
    cursor: pointer;
}

#hamburger-menu + label#menu-visual {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 1.5em;
    z-index: 3;
    background-color: var(--hamburger-color);
    border-radius: 0.2em;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
#hamburger-menu + label#menu-visual::before,
#hamburger-menu + label#menu-visual::after {
    content: "";
    height: 2px;
    width: 1.5em;
    z-index: 3;
    background-color: var(--hamburger-color);
    position: absolute;
    display: block;
    border-radius: 0.2em;
    transition: all 0.2s ease-in-out;
}
#hamburger-menu + label#menu-visual::before {
    top: -450%;
    left: 0;
    transform-origin: left top;
}
#hamburger-menu + label#menu-visual::after {
    top: 450%;
    left: 0;
    transform-origin: left bottom;
}

#hamburger-menu:checked + label#menu-visual {
    background-color: rgba(255, 255, 255, 0);
}
#hamburger-menu:checked + label#menu-visual::before {
    background-color: var(--hamburger-phase2-color);
    transform: rotateZ(45deg);
    left: 5px;
}
#hamburger-menu:checked + label#menu-visual::after {
    background-color: var(--hamburger-phase2-color);
    transform: rotateZ(-45deg);
    left: 5px;
}


/* 
    the "+" thing in css goes through the html like a folder
    since my html is 
        #hamburger-menu 
        +
        label 
        +
        .menu
    to avoid using "+" too much i can use "~" to quicly get the .menu
*/

#hamburger-menu ~ .menu {
    position: absolute;
    right: 0;   
    width: 0;
    height: 0;
}
#hamburger-menu:checked ~ .menu {
    width: 100vw;
    height: 100vh;
}

#hamburger-menu ~ .menu nav {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
}
#hamburger-menu:checked ~ .menu nav {
    visibility: visible;
    opacity: 1;
}

.menu > div {
    position: fixed;
    top: 12vh;
    right: 0px;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
    transition: all 0.4s ease-in-out;
}
.menu > .ball1 {
    background-color: #66fcf1;
    border-radius: 50%;
    z-index: 2;
}
.menu > .ball2 {
    background-color: #1f2833;
    border-radius: 50%;
    z-index: 3;
    transition-delay: 0.2s;
}
.menu > .ball3 {
    background-color: #0b0c10;
    border-radius: 50%;
    z-index: 4;
    transition-delay: 0.4s;
}

#hamburger-menu:checked ~ .menu > .ball1 {
    width: 600vw;
    height: 300vh;
}
#hamburger-menu:checked ~ .menu > .ball2 {
    width: 300vw;
    height: 175vh;
}
#hamburger-menu:checked ~ .menu > .ball3 {
    width: 250vw;
    height: 125vh;
}

.menu nav {
    position: fixed;
    top: 0;
    right: 50%;
    margin: 1em;
    z-index: 5;
    
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}


.menuToggle .menu nav ul {
    list-style: none;
}
.menuToggle .menu nav ul * {
}
.menuToggle .menu nav ul li a {
    color: white;
}


.content {
    height: 100%;
    padding: 1em;
    flex-direction: column;
}

.small-about-me {
    padding: 2em;
}

/* === button ================================================= */
.buttons {
    margin-bottom: 2em;
}

.bn39 {
    background-image: linear-gradient(135deg, #9588e1, #ee86b8);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
    margin: 0 0.5em;
}
  
.bn39:hover {
    color: #fff;
}
  
.bn39 .bn39span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.3s ease;
    width: 100%;
}
  
.bn39:hover .bn39span {
    background: transparent;
}
/* ============================================================== */

.my-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.my-photo img {
    width: 75%;
    height: auto;
    border-radius: 24px;
    display: block;
}
