
@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Regular.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Regular.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Thin.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Thin.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Thin.woff2") format("woff2");
    font-weight: thin;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Light.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Light.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Light.woff2") format("woff2");
    font-weight: light;
}

@font-face {
    font-family: "Brandon Grotesque Cond";
    src: url("../font/BrandonGrotesqueCond-Bold.ttf") format("truetype");
    src: url("../font/BrandonGrotesqueCond-Bold.woff") format("woff"),
        url("../font/BrandonGrotesqueCond-Bold.woff2") format("woff2");
    font-weight: bold;
}

* {
    margin: 0;
    z-index: 0;
    box-sizing: border-box;
    font-family: "Brandon Grotesque Cond";
}

html,
body {
    height: 100%;
    color: white;
    background-color: #1E1E1E;
    font-size: 18px;
}

header {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0.5em 1em 0 1em;
    background-color: #1E1E1E;
}
header::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 92%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    opacity: 0.5;
}

.menuToggle {
    margin-left: auto;
}

.menuToggle input[type="checkbox"] {
    display: none;
}

.menuToggle input[type="checkbox"] + label {
    display: inline-block;
    height: 32px;
    width: 32px;
    z-index: 3;
    cursor: pointer;
    background-image: url("../images/icons8-menu.svg");
    background-size: contain;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(101%) contrast(102%);
}

.menuToggle input[type="checkbox"]:checked + label {
    background-image: url("../images/icons8-close.svg");
    filter: invert(0%) sepia(97%) saturate(21%) hue-rotate(180deg) brightness(92%) contrast(99%);
}

.menuToggle nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    padding-top: 8em;
    background-color: #e4e4e4ad;
    z-index: 2;
    transform: translateX(100%);
}

.menuToggle input[type="checkbox"]:checked + nav {
    transform: translateX(0%);
}

.menuToggle nav ul {
    list-style: none;
    padding: 0;
}
.menuToggle nav ul li {
    padding-bottom: 1em;
}
.menuToggle nav ul li a {
    color: #1E1E1E;
}
