.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-ver-center {
    display: flex;
    align-items: center;
}

.flex-hor-center {
    display: flex;
    justify-content: center;
}

noscript {
    z-index: 99999;
    position: fixed;
    width: 100%;
}
.noscript-warning {
    background-color: rgb(255, 93, 93);
    border: 1px solid rgb(255, 45, 45);
    color: black;

    font-size: larger;

    padding: 1em;
}