
/*
    =============================
        main content
    =============================
*/
.content {
    height: 100%;
    padding: 1em;
    flex-direction: column;
    text-align: center;
}



@media screen and (min-width: 900px) {
    .content {
        flex-direction: row;
    }

    .buttons {
        justify-content: left;
        margin: 2em;
    }

    .bn39 {
        margin: 0 1em 0 0;
    }
}
